<!-- This is the shopping cart page  -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopping Cart</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="/static/js/cart.js" defer></script>
</head>
<body>
    <header>
        <h1>Shopping Cart</h1>
        <nav>
            <a href="index.html"> Home</a>
            <a href="cart.html">Shopping cart</a>
        </nav>
    </header>

    <main>
        <section id="Cart-Items">
            <h2>Your Cart</h2>
            <ul>
                <!-- Cart items will be placed here -->
                <li>
                    <h3>Empire Medium Metallic Chain-Link Pochette</h3></li>
                <li>
                    <h3>Scarlett Medium Signature Logo Satchel</h3></li>
                    <li> <h3>Marilyn Medium Logo Stripe Satchel</h3></li>
                    <li> <h3>Jet Set Charm Small Logo Pochette</h3></li>
                    <li> <h3>Bedford Travel Extra-Large Signature Logo Stripe Weekender Bag</h3></li>
                    <li> <h3>Marilyn Small Logo Crossbody Bag</h3></li>
                    <li> <h3>Jet Set Small Logo Print Woven Smartphone Crossbody Bag</h3></li>
                    <li> <h3>Large Logo Continental Wallet</h3></li>
                    <li> <h3>Adele Logo Smartphone Wallet</h3></li>
                    <li> <h3>Taryn Large Signature Logo and Leather Tote Bag</h3></li>
                
            

        </section>
    </main>

    <footer>
        <p>&copy; 2024 AD's Michael Kors PopUp</p>
    </footer>
    
</body>
</html>