<!-- This is the shopping cart page  -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopping Cart</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="/static/js/cart.js" defer></script>
</head>
<body>
    <header>
        <h1>Shopping Cart</h1>
        <nav>
            <a href="index.html"> Home</a>
            <a href="cart.html">Shopping cart</a>
        </nav>
    </header>

    <main>
        <section id="Cart-Items">
            <h2>Your Cart</h2>
            <ul>
                {% for item in cart['items'] %}    
                <!-- Cart items will be placed here -->
                <li>
                    <h3>Empire Medium Metallic Chain-Link Pochette</h3>
                    <p>Black/Pale Gold</p>
                    <p>Price: $198</p>
                </li>
            </ul>
            <p>Total:$198 </p>
            
        </section>
    </main>

    <footer>
        <p>&copy; 2024 AD's Michael Kors PopUp</p>
    </footer>
    
</body>
</html>