<!-- main.html -->
 <!DOCTYPE html>
 <html lang="en">
 <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AD's Michael Kors PopUp </title>
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="/static/js/script.js" defer></script>
 </head>
 <body>
    <header>
        <h1> AD's Michael Kors PopUp</h1>
        <nav> 
            <a href="main.html">Home</a>
            <a href="cart.html">Shopping Cart</a>
        </nav>
    </header>

    <main>
        <section id="product-list">
            <h2> Our Collection</h2>
            <h4> Limited Time Only!</h4>
            <div id="Products">
                <div class="product card">
                    <img src="https://michaelkors.scene7.com/is/image/MichaelKors/32F4G8EW6B-1092_1?$large$" alt="Empire Medium Metallic Chain-Link Pochette"
                    <h3> Empire Medium Metallic Chain-Link Pochette</h3>
                    <p class="description"> Color: Black/Pale Gold</p>
                    <p class="price">$198</p>
                </div>
                <div class="product card">
                    <img src="https://michaelkors.scene7.com/is/image/MichaelKors/30F4GETS2B-1335_1?$large$" alt="Scarlett Medium Signature Logo Satchel"
                    <h3>Scarlett Medium Signature Logo Satchel</h3>
                    <p class="description"> Color: Brown/Acorn </p>
                    <p class="price">$298</p>
                </div>
                <div class="product card">
                    <img src="https://michaelkors.scene7.com/is/image/MichaelKors/30S2G6AS2U-2158_1?$large$" alt="Marilyn Medium Logo Stripe Satchel"
                    <h3>Marilyn Medium Logo Stripe Satchel </h3>
                    <p class="description"> Color: Brown/Soft Pink/Fawn </p>
                    <p class="price">$298</p>
                </div>
                <div class="product card">
                    <img src="https://michaelkors.scene7.com/is/image/MichaelKors/32H1GT9C1B-1335_1?$large$" alt="Jet Set Charm Small Logo Pochette"
                    <h3>Jet Set Charm Small Logo Pochette </h3>
                    <p class="description"> Color: Brown/Acorn </p>
                    <p class="price">$198</p>
                </div>
                <div class="product card">
                    <img src="https://michaelkors.scene7.com/is/image/MichaelKors/30F9G07U4B-1335_1?$large$" alt="Bedford Travel Extra-Large Signature Logo Stripe Weekender Bag"
                    <h3>Bedford Travel Extra-Large Signature Logo Stripe Weekender Bag </h3>
                    <p class="description"> Color: Brown/Acorn </p>
                    <p class="price">$398</p>
                </div>
                <div class="product card">
                    <img src="https://michaelkors.scene7.com/is/image/MichaelKors/32F2G6AC1B-1335_1?$large$" alt="Marilyn Small Logo Crossbody Bag"
                    <h3>Marilyn Small Logo Crossbody Bag </h3>
                    <p class="description"> Color: Brown/Acorn </p>
                    <p class="price">$258</p>
                </div>
                <div class="product card">
                    <img src="https://michaelkors.scene7.com/is/image/MichaelKors/32T4GJ6C1C-2068_1?$large$" alt="Jet Set Small Logo Print Woven Smartphone Crossbody Bag"
                    <h3>Jet Set Small Logo Print Woven Smartphone Crossbody Bag </h3>
                    <p class="description"> Color: Admiral/Blue </p>
                    <p class="price">$128</p>
                </div>
                <div class="product card">
                    <img src="https://michaelkors.scene7.com/is/image/MichaelKors/32F1GJ6E7B-0150_1?$large$" alt="Large Logo Continental Wallet"
                    <h3>Large Logo Continental Wallet </h3>
                    <p class="description"> Color: Vanilla </p>
                    <p class="price">$178</p>
                </div>
                <div class="product card">
                    <img src="https://michaelkors.scene7.com/is/image/MichaelKors/32F1GJ6W4B-0150_1?$large$" alt="Adele Logo Smartphone Wallet"
                    <h3>Adele Logo Smartphone Wallet </h3>
                    <p class="description"> Color: Vanilla </p>
                    <p class="price">$128</p>
                </div>
                <div class="product card">
                    <img src="https://michaelkors.scene7.com/is/image/MichaelKors/30F4GTBT7B-1335_1?$large$" alt="Taryn Large Signature Logo and Leather Tote Bag"
                    <h3>Taryn Large Signature Logo and Leather Tote Bag </h3>
                    <p class="description"> Color: Brown/Acorn </p>
                    <p class="price">$298</p>
                </div>


            </div>
        </section>

        <section id="Cart-Summary">
            <h3> Shopping Cart</h3>
            <p>Total: $<span id="Cart-Total">0.00</span></p>
            <a href="cart.html"> Go to Cart </a>
        </section>
    </main>

    <footer>
        <p>&copy; 2024 AD's Michael Kors PopUp</p>
    </footer>
 </body>
 </html>